*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container{
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
}
.navbar-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.navbar-div ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    margin-left: 300px;
}
.navbar-div a{
    color: #2c2b35;
    transition: 0.4s;
}
.navbar-div a:hover{
    color: #43A548;
}
.navbar-button{
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: linear-gradient(168deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.navbar-button:hover{
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.ri-menu-line{
    display: none;
}
.first-div{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.left-div{
    margin-top: 130px;
}
.first-div h1{
    font-size: 40px;
    color: #2c2b35;
}
.first-div h4{
    margin-top: 10px;
    color: #2c2b35;
}
.first-btn{
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 30px;
    border: none;
    color: #fff;
    background: linear-gradient(168deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.first-btn:hover{
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
@media (max-width: 428px) {
.container {
max-width:100%;
padding: 0 10px;
}
.navbar-div{
}
.navbar-div ul, .navbar-button{
    display: none;
}
.ri-menu-line{
    display: block;
    font-size: 30px;
    align-items: center;
    color: #43A548;
}
.left-div h1{
    font-size: 35px;

}  
.left-div h4{
    

}
.first-div{
    display: block;
}
.first-div img{
    width: 400px;
    margin-top: 20px;
    margin-left: -30px;
}

}

.second-div{
    display: flex;
    justify-content: space-between;
}
.upravlenie{
    width: 560px;
    height: 250px;
    background-color: #eeeeeeee;
    border-radius: 25px;
}
.avtozakaz{
    width: 560px;
    height: 250px;
    background-color: #eeeeeeee;
    border-radius: 25px;
}
section{
    display: flex;
}
.upravlenie section{
    margin: 15px auto auto 15px;
    align-items: center;
    gap: 1rem;
    color: #2c2b35;
}
.upravlenie p{
    margin: 20px auto auto 15px;
    color: #6f7973;
}
.second-btn{
    margin: 30px auto auto 15px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.second-btn:hover{
    background-color: #43A548;
    color: #fff;
}
.avtozakaz section{
    margin: 15px auto auto 15px;
    align-items: center;
    gap: 1rem;
    color: #2c2b35;
}
.avtozakaz p{
    margin: 20px auto auto 15px;
    color: #6f7973;
}
.second-btn{
    margin: 30px auto auto 15px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.second-btn:hover{
    background-color: #43A548;
    color: #fff;
}

@media (max-width: 428px) {
.container {
max-width:100%;
padding: 0 10px;
}
.upravlenie h1{
    font-size: 29px;
}
.second-div{
    display: block;
}
.upravlenie{
    width: 370px;
    height: 320px;
}
.avtozakaz{
    width: 370px;
    height: 300px;
}
}
.box3{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.analiz{
    width: 373px;
    height: 320px;
    background-color: #eeeeeeee;
    border-radius: 25px;
}
.analiz p{
    color: #6f7973;
    margin: 20px auto auto 15px;
}
.analiz .podrobne{
    margin: 40px auto auto 15px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.analiz .podrobne:hover{
    color: #fff;
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.prognoz{
    width: 373px;
    height: 320px;
    background-color: #eeeeeeee;
    border-radius: 25px;
}
.prognoz p{
    color: #6f7973;
    margin: 20px auto auto 15px;
}
.prognoz .podrobnee{
    margin: 20px auto auto 15px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.prognoz .podrobnee:hover{
    color: #fff;
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.postavka{
    width: 373px;
    height: 320px;
    background-color: #eeeeeeee;
    border-radius: 25px;
}
.postavka p{
    color: #6f7973;
    margin: 20px auto auto 15px;
}
.postavka .podrobnee{
    margin: 20px auto auto 15px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.postavka .podrobnee:hover{
    color: #fff;
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
article{
    display: flex;
    gap: 1rem;
    margin: 15px auto auto 15px;
    align-items: center;
    gap: 1rem;
    color: #2c2b35;
}
article h1{
    align-items: center;
    font-size: 26px;
}
@media (max-width: 428px) {
.container {
max-width:100%;
padding: 0 10px; 
}
    .box3{
        display: block;
    }
}

.box2{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.assortiment section{
    margin: 15px auto auto 15px;
    align-items: center;
    gap: 1rem;
    color: #2c2b35;
}
.assortiment p{
    margin: 20px auto auto 15px;
    color: #6f7973;
}
.assortiment button{
    margin: 20px auto auto 15px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.assortiment button:hover{
    color: #fff;
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.prodaja section{
    margin: 15px auto auto 15px;
    align-items: center;
    gap: 1rem;
    color: #2c2b35;
}
.prodaja p{
    margin: 20px auto auto 15px;
    color: #6f7973;
}
.prodaja button{
    margin: 20px auto auto 15px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.prodaja button:hover{
    color: #fff;
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.assortiment{
    width: 560px;
    height: 250px;
    background-color: #eeeeeeee;
    border-radius: 25px;
}

.prodaja{
    width: 560px;
    height: 250px;
    background-color: #eeeeeeee;
    border-radius: 25px;
}
@media (max-width: 428px) {
.container {
max-width:100%;
padding: 0 10px; 
}
    .box2{
        display: block;
    }
    .assortiment{
       width: 380px;
       height: auto;
    }
    .prodaja{
        width: 380px;
        height: auto;
    }
}
.box1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    background-color: #EBF5EB;
    border-radius: 20px;
    margin-top: 20PX;
    align-items: center;
}

.podarok{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
    gap: 1rem;
}
.podarok img{
    margin-top: 0px;
    color: #43A548;
} 
.podarok h2{
    margin-top: 0px;
    color: #43A548; 
}
.butt button{
    margin-right: 10px;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.butt button:hover{
    color: #fff;
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
@media (max-width: 428px) {
    .container {
    max-width:100%;
    padding: 0 10px; 
}
    .box1{
        display: block;
        margin-top: 30px;
    }
    .butt{
        text-align: center;
        margin-top: 20px;
    }
    .butt button{
        padding: 10px 90px;
    }
}
.hh1{
    margin-top: 30px;
    color: #2c2b35;
}
.hard{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.bez{
    width: 560px;
    height: 400px;
    background-color: #eeeeeeee;
    border-radius: 25px;
}
.bez h1{
    text-align: center;
    margin-top: 15px;
}
.bez section{
    margin: 15px auto auto 25px;
    gap: 1rem;
    color: #2c2b35;
}
.vmeste{
    width: 560px;
    height: 400px;
    background-color: #E5F6E6;
    border-radius: 25px;
}
.vmeste h1{
    text-align: center;
    margin-top: 15px;
}
.vmeste section{
    margin: 15px auto auto 25px;
    gap: 1rem;
    color: #2c2b35;
}
@media (max-width: 428px) {
    .container {
    max-width:100%;
    padding: 0 10px; 
}
    .hh1{
        margin-top: 100px;
    }
    .hard{
        display: block;
    }
    .bez{
        width: 370px;
        height: 550px;
    }
    .vmeste{
        width: 370px;
        height: 550px;
    }
}
.easy{
    width: 100%;
    height: 500px;
    margin-top: 30px;
    background-color: #EBF5EB;
}
.popular{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular h1{
    margin-top: 30px;
    color: #2c2b35;
    margin-left: 20px;
}
.popular button{
    margin-top: 30px;
    margin-right: 20px;
    padding: 10px 25px;
    border-radius: 25px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.popular button:hover{
    color: #fff;
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.c-1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.c1{
    width: 370px;
    height: 300px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 2px 2px 13px 3px rgba(164, 161, 161, 0.61);
}
.c1 h2{
    margin-top: 10px;
    margin-left: 10px;
}
.c1 button{
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 20px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.c1 button:hover{
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
    color: #fff;
}
.c1 ul{
    margin: 20px 15px auto 30px;
}
.c1 ul li{
    margin-top: 15px;
    color: #6f7973;
}
.href{
    color: #43A548;
    margin-left: 270px;
}
.c2{
    width: 370px;
    height: 300px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 2px 2px 13px 3px rgba(164, 161, 161, 0.61);
}
.c2 h2{
    margin-top: 10px;
    margin-left: 10px;
}.c2 button{
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 20px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.c2 button:hover{
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
    color: #fff;
}
.c2 ul{
    margin: 20px 15px auto 30px;
}
.c2 ul li{
    margin-top: 15px;
    color: #6f7973;
}
.c3{
    width: 370px;
    height: 300px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 2px 2px 13px 3px rgba(164, 161, 161, 0.61);
}
.c3 h2{
    margin-top: 10px;
    margin-left: 10px;
}
.c3 button{
    margin-top: 10px;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 20px;
    border: 1px solid #43A548;
    color: #43A548;
    transition: 0.3s;
}
.c3 button:hover{
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
    color: #fff;
}
.c3 ul{
    margin: 20px 15px auto 30px;
}
.c3 ul li{
    margin-top: 15px;
    color: #6f7973;
}
.c-1 section{
    justify-content: space-between;
}
@media (max-width: 428px) {
    .container {
    max-width:100%;
    padding: 0 10px; 
}
    .c-1{
        display: block;
        height: 1000px;
        background-color: #E5F6E6;
    }
    .c-1 .c1, .c2, .c3{
        margin-top: 20px;
    }
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    margin-top: 30px;
    border-radius: 30px;
}
.predstovlyaem{
    width: 50%;
    height: 160px;
}
.predstovlyaem h2{
    margin-left: 10px;
    color: #2c2b35;
}
.predstovlyaem p{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 15px;
    color: #2c2b35;
}
.predstovlyaem p span{
    color: #43A548;
}
.predstovlyaem li{
}
.rozn{
    width: 477px;
    height: 208px;
    border-radius: 25px;
    background-color: #EBF5EB;
}
.rozn h3{
    margin: 20px;
    width: 410px;
}
.rozn h3 span{
    color: #43A548;
}
.information{
    display: flex;
    justify-content: space-between;
}
.number{
    width: 170px;
    height: 60px;
    margin-left: 20px;
}
.number p{
    margin-top: 5px;
    color: #6f7973;
}
.number h4{
    margin-top: 5px;
    color: #43A548;
    font-size: 20px;
}
.email{
    width: 170px;
    height: 60px;
    margin-right: 20px;
}
.email p{
    margin-top: 5px;
    color: #6f7973;
}
.email img{
    margin-top: 5px;
    color: #43A548;
}
@media (max-width: 428px) {
    .container {
    max-width:100%;
    padding: 0 10px; 
}
    .info{
        display: block;
        margin-top: 700px;
    }
    .predstovlyaem{
        display: block;
        height: 300px;
    }
    .rozn{
        margin-top: 50px;
        width: 390px;
    }
    .rozn h3{
        width: 350px;
        text-align: center;
    }
    .predstovlyaem p, h2{
        width: 350px;
        margin-top: 20px;
    }
    .information{
        display: block;
        align-items: center;
        margin-left: 90px;
    }
    .email{
        margin-left: 30px;
    }
}
.restoran{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.card2 img{
    display: block;
    margin-top: 50px;
}
.four-div{
}
.recomendatsiya{
    width: 630px;
    height: 308px;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);

}
.recomendatsiya *{
    margin-top: 20px;
    margin-left: 15px;
}
.recomendatsiya h3{
    color: #2c2b35;
}
.recomendatsiya p, li{
    color: #6f7973;
}
.recomendatsiya article{
    color: #43A548;
    cursor: pointer;
}
.zapas{
    width: 630px;
    height: 250px;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
}
.zapas *{
    margin-top: 30px;
    margin-left: 15px;
}
.zapas h3{
    color: #2c2b35;
}
.zapas p{
    color: #6f7973;
}
.zapas article{
    color: #43A548;
    cursor: pointer;
}
.oshibok{
    width: 630px;
    height: 188px;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
}
.oshibok h3{
    margin-top: 30px;
    margin-left: 15px;
    color: #2c2b35;
}
.oshibok p{
    margin-top: 30px;
    margin-left: 15px; 
    color: #6f7973;
}
.pribil{
    width: 630px;
    height: 248px;
    border-radius: 30px;
    margin-top: 30px;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
}
.pribil h3{
    margin-top: 30px;
    margin-left: 15px;
    color: #2c2b35;
}
.pribil p{
    margin-top: 30px;
    margin-left: 15px;
    color: #6f7973;
}
@media (max-width: 428px) {
    .container {
    max-width:100%;
    padding: 0 10px; 
}
    .card2 div{
        display: flex;
        justify-content: space-evenly;
    }
    .card2 h2{
        margin-top: 300px;
    }
    .card2 img{
        width: 160px;
        height: 160px;
    }
    .restoran{
        display: block;
    }
    .four-div div{
        width: 370px;
        height: auto;
    }
}
.postavshik{
    display: flex;
    margin-top: 30px;
}
.card img{
    margin-top: 20px;
}
.tochka{
    width: 636px;
    height: 300px;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    border-radius: 30px;
}
.tochka *{
    margin-top: 30px;
    margin-left: 15px;
}
.tochka h3{
    color: #2c2b35;
}
.tochka p{
    color: #6f7973;
}
.tochka article{
    color: #43A548;
    cursor: pointer;
}
.obrabotka{
    width: 636px;
    height: 200px;;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    border-radius: 30px;
}
.obrabotka *{
    margin-top: 30px;
    margin-left: 15px;
}
.obrabotka h3{
    color: #2c2b35;
}
.obrabotka p{
    color: #6f7973;
}
.obrabotka article{
    color: #43A548;
    cursor: pointer;
}
@media (max-width: 428px) {
    .container {
    max-width:100%;
    padding: 0 10px; 
}
    .postavshik{
        display: block;
    }
    .card img{
        width: 250px;
        height: 250px;
        margin-left: 70px;
    }
    .obrabotka, .tochka{
        width: 370px;
        height: auto;
    }
}
.form-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 380px;
    border-radius: 30px;
    margin-top: 50px;
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.brzplatno{
    width: 541px;
    height: 166px;
    margin-top: 5%;
}
.brzplatno h2{
    color: #fff;
    margin-left: 30px;
}
.brzplatno p{
    color: #f7f8f8;
    margin-top: 20px;
    margin-left: 30px;
}
.inputs{
    width: 574px;
    height: 322px;
    margin-top: 5%;
}

.inputs input{
    display: block;
    padding: 8px 180px;
    border-radius: 25px;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
}
.inputs p{
    margin-left: 20px;
    color: #f7f8f8;
}
.inputs p:last-child{
    margin-top: 20px;
}
.inputs p span{
    color: #2c2b35;
}
.inputs p span:hover{
    color: #6f7973;
}
.blach-btn{
    display: flex;
    margin-left: 20px;
    width: 92%;
    height: auto;
}
.blach-btn button{
    margin: 5px;
    padding: 5px 30px;
    border-radius: 20px;
    border: none;
    background-color: #000;
    color: #fff;
    transition: 0.3s;
}
.blach-btn button:hover{
    color: #43A548;
}
@media (max-width: 428px) {
    .container {
    max-width:100%;
    padding: 0 10px; 
}
    .form-container {
        display: block;
        height: 600px;
    }
    .brzplatno p{
        width: 328px;
    }
    .brzplatno{
        width: 328px;
    }
    .inputs{
        width: 328px;
    }
    .inputs input{
        padding: 10px 80px;
    }
    .blach-btn{
        margin-top: 20px;
        width: 328px;
        display: block;
    }
    .blach-btn button{
        margin-top: 20px;
        padding: 10px 130px;
    }
}
.otv h1{
    font-size: 40px;
}
.vopros{
    position: relative;
}
.v1{
    width: 100%;
    margin-top: 20px;
    height: auto;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    border-radius: 15px;
    justify-content: space-between;
    padding: 10px 10px;
    display: flex;
    transition: 0.4s;
}

.v1 i{
    color: #2c2b35;
    font-size: 40px;
    transition: 0.4s;
}
.v1:hover i{
    
    rotate: 180deg;
}
.v1 .v7{
    display: none;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.v1:hover{
    height: 200px;
}
.v1:hover .v7{
    display: block;
}
.v7 ul, li{
    margin-top: 10px;
    margin-left: 20px;
}

.v2{
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: auto;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    border-radius: 15px;
    justify-content: space-between;
    padding: 10px 10px;
    display: flex;
    transition: 0.4s;
}
.v2 i{
    color: #2c2b35;
    font-size: 40px;
    transition: 0.4s;
}
.v2:hover i{
    
    rotate: 180deg;
}
.v2 .v8{
    display: none;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.v2:hover{
    height: 200px;
}
.v2:hover .v8{
    display: block;
}
.v8 ul, li{
    margin-top: 10px;
    margin-left: 20px;
}
.v3{
    width: 100%;
    margin-top: 20px;
    height: auto;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    border-radius: 15px;
    justify-content: space-between;
    padding: 10px 10px;
    display: flex;
    transition: all 0.5s ease;
}

.v3 i{
    color: #2c2b35;
    font-size: 40px;
    transition: 0.4s;
}
.v3:hover i{
    
    rotate: 180deg;
}
.v3 .v9{
    display: none;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.v3:hover{
    height: 200px;
}
.v3:hover .v9{
    display: block;
}
.v9 ul, li{
    margin-top: 10px;
    margin-left: 20px;
}

.v4{
    width: 100%;
    margin-top: 20px;
    height: auto;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    border-radius: 15px;
    justify-content: space-between;
    padding: 10px 10px;
    display: flex;
    transition: 0.4s;
}
.v4 i{
    color: #2c2b35;
    font-size: 40px;
    transition: 0.4s;
}
.v4:hover i{
    
    rotate: 180deg;
}
.v4 .v10{
    display: none;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.v4:hover{
    height: 200px;
}
.v4:hover .v10{
    display: block;
}
.v10 ul, li{
    margin-top: 10px;
    margin-left: 20px;
}
.v5{
    width: 100%;
    margin-top: 20px;
    height: auto;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    border-radius: 15px;
    justify-content: space-between;
    padding: 10px 10px;
    display: flex;
    transition: 0.4s;
}
.v5 i{
    color: #2c2b35;
    font-size: 40px;
    transition: 0.4s;
}
.v5:hover i{
    
    rotate: 180deg;
}
.v5 .v11{
    display: none;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.v5:hover{
    height: 200px;
}
.v5:hover .v11{
    display: block;
}
.v11 ul, li{
    margin-top: 10px;
    margin-left: 20px;
}
.v6{
    width: 100%;
    margin-top: 20px;
    height: auto;
    box-shadow: 4px 3px 5px 0px rgba(156,141,141,0.75);
    border-radius: 15px;
    justify-content: space-between;
    padding: 10px 10px;
    display: flex;
    transition: 0.4s;
}
.v6 i{
    color: #2c2b35;
    font-size: 40px;
    transition: 0.4s;
}
.v6:hover i{
    
    rotate: 180deg;
}
.v6 .v12{
    display: none;
    position: absolute;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.v6:hover{
    height: 200px;
}
.v6:hover .v12{
    display: block;
}
.v12 ul, li{
    margin-top: 10px;
    margin-left: 20px;
}
@media (max-width: 428px) {
    .container {
    max-width:100%;
    padding: 0 10px; 
}
.v1:hover{
    height: 400px;
}
.v1 .v7{
    margin-top: 100px;
}
.v2:hover{
    height: 400px;
}
.v2 .v8{
    margin-top: 100px;
}
.v3:hover{
    height: 400px;
}
.v3 .v9{
    margin-top: 100px;
}
.v4:hover{
    height: 400px;
}
.v4 .v10{
    margin-top: 100px;
}
.v5:hover{
    height: 400px;
}
.v5 .v11{
    margin-top: 100px;
}

.v6:hover{
    height: 400px;
}
.v6 .v12{
    margin-top: 100px;
}
}
