*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.container{
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
}
.navbar-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.navbar-div ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    margin-left: 300px;
}
.navbar-div a{
    color: #2c2b35;
    transition: 0.4s;
}
.navbar-div a:hover{
    color: #43A548;
}
.navbar-button{
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
    color: #fff;
    background: linear-gradient(168deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}
.navbar-button:hover{
    background: linear-gradient(346deg,rgba(67, 165, 72, 1) 50%, rgba(82, 226, 89, 1) 74%);
}